curl -sfL https://get.k3s.io | sh -s - ${mode} \
%{ for component in disable ~}
--disable ${component} \
%{ endfor ~}
%{ for host in server_hosts ~}
--server "${host}" \
%{ endfor ~}
%{ for taint in node_taints ~}
--node-taint "${ taint }" \
%{ endfor ~}
--log $HOME/.k3s-install-log.txt